#calculate {  
    width: 300px;  
    height: 320px;  
    border: 1px #32CD32 solid ;  
    border-radius: 5px;  
    background-color: #00CCFF;  
}  
input {  
    width: 97%;  
    border-radius: 7px;  
    background-color: #40e0d0;  
    height: 8%;  
    align-content: center;  
    margin: 4px;  
    text-align: right;  
    font-size: 20px;  
}  
#keyboard {  
   width: 100%;  
    border-radius: 5px;  
    height: 85%;  
}  
table {  
    width: 100%;  
    height: 100%;  
}  
tr td {  
    width: 25%;  
    height: 20%;  
    background-color: #33CCFF;  
    border: 1px solid;  
    border-radius: 7px;  
    text-align: center;  
}  
tr td:hover {  
    background-color: #3366FF;  
    cursor: pointer;  
}  
tr td:visited {  
    background-color: #333399;  
}  
